#Home{
    background:url(ictlogo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    opacity:0.5;
}
#fa{
    padding-right: 15px;
    padding-left: 15px;
}
.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
